.add-destination .destination,
.add-testimonial .testimonial,
.transaction-page .transaction,
.openai-page .openai {
  background-color: var(--primary-color);
}

.form-label {
  font-weight: bold;
}

.invalid-feedback {
  display: block;
  font-size: 80%;
}

.add-destination .destination .row:nth-child(1),
.add-testimonial .testimonial .row:nth-child(1),
.transaction-page .transaction .row:nth-child(1) {
  padding-bottom: 80px;
}
