.detail-page {
  padding-top: 200px;
  width: 100%;
  min-height: 80vh;
  background-color: var(--primary-color);
}

.detail-page .detail {
  background-color: #fff;
  padding: 0;
}

.detail-description {
  height: 280px;
}

.detail-page .detail img {
  padding: 10px;
  height: 400px;
  padding-right: 20px;
}

.detail-page .detail {
  padding: 20px;
}

.detail-page .detail .text {
  padding: 10px;
  padding-left: 20px;
  width: -webkit-fill-available;
  text-align: justify;
}

@media screen and (max-width: 1399px) {
  .detail-page {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .card-detail {
    display: block !important;
  }

  .text {
    padding-top: 3rem !important;
  }

  .detail-page .detail img {
    padding: 10px;
    width: -webkit-fill-available;
  }

  .detail-description {
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .card-detail {
    display: block !important;
  }

  .text {
    padding-top: 5rem !important;
  }

  .detail-page .detail img {
    padding: 10px;
    width: -webkit-fill-available;
  }

  .detail-page .row img {
    height: 200px;
  }

  .detail-page {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .detail-description {
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .detail-page {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .card-detail {
    display: block !important;
  }

  .text {
    padding-top: 2rem !important;
  }

  .detail-page .detail img {
    padding: 10px;
    width: -webkit-fill-available;
  }

  .detail-page .detail .text {
    padding-left: 10px;
  }

  .detail-description {
    height: auto;
  }
}
