.history-page {
  padding-top: 200px;
  padding-bottom: 100px;
  width: 100%;
  min-height: 80vh;
  background-color: var(--primary-color);
}

.table thead th {
  background-color: #f0f0f0;
  color: #333;
}

.table-page {
  overflow-x: auto;
  position: relative;
  max-width: 100%;
}

.no-history {
  font-weight: bold;
  color: #999;
  text-align: center;
  padding-top: 50px;
}

.pagination {
  justify-content: flex-end;
}

/*STYLE PAGINATION*/
.green-arrow .page-link {
  color: var(--secondary-color) !important;
}
/*STYLE PAGINATION*/
